// Begin Jade template.
extends layout
- schedule = typeof(schedule) != 'undefined' ? schedule : { }

//-CSS is inserted in the HEAD tag.
block css
link(rel='stylesheet',href='/css/mycss.css')

  
//-JavaScript will be inserted at the end of the BODY tag.
block js
  
//-Add navigation item to existing navigation set.
block nav
  
//-Add navigation item to existing Administrator navigation set.
block navAdmin
  
//-Add navigation item to existing Teacher navigation set.
block navTeacher
  
//-Add navigation item to existing Student navigation set.
block navStudent
  
//-HTML content to display.
block content
  section#main.container
    .row
      //-Columns in a row must equal 12. 
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        h1 #{title}
        p Welcome #{user.first} info goes here 
        h3 View the Courses by Sessions (Semesters)
        p The catalog displays courses by sessions. Please click on each sessions in order to view the courses. 
          | Click the expand button in order to expand the listing of the courses.
     // start grid for images 
     br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
          h4 Fall 2014
          img(src="http://www.csulb.edu/depts/enrollment/assets/img/buttonsSM/images/class_sched_fall.jpg", alt="Fall 2014")
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
          h4 Winter Intersession 2014
          img(src="http://www.csulb.edu/depts/enrollment/assets/img/buttonsSM/images/may_intersession.jpg", alt="Winter 2014")
        .col-xs-4.col-sm-4.col-md-4.col-lg-4
          h4 Spring 2015
          img(src="http://www.csulb.edu/depts/enrollment/assets/img/buttonsSM/images/class_sched_spring_2005.jpg", alt="Winter 2014")
    br
    // show schedule 
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        p  note: include current schedule template here 
        h3 Fall 2014
        h4 Start Date: 8/26-12/15
        // note expand buttons should change to collapse when necessary
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              h2.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                  | Art-(ART) 
            #collapseOne.panel-collapse.collapse
              .panel-body
              p Please refer to the class notes as indicated on individual sections to determine any supply and/or model fees which might apply.
              h5 Art 101-Artist In Their Own Words (3Units)       
              br
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b SEC
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b CODE
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b TYPES
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b DAYS
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    b TIME
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b OPEN SEATS
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b LOC
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b INST
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    b COMMENTS
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      if(user.type == 'student')
                        b Add
                      else
                        b
              br
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 1
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p A01
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p SEM
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p MW
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p 8-9:15AM
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 1
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p AR 101
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p Phan,C
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p Instructor Consent Req 
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      if(user.type == 'student')
                        button.btn.btn-xs.btn-primary(type='button') Add
                      else
                        b
              br
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 2
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p A02
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p SEM
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p MW
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p 9:30-10:45AM
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 1
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p AR 101
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p Phan,C
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p Instructor Consent Req   
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      if(user.type == 'student')
                        button.btn.btn-xs.btn-primary(type='button') Add
                      else
                        b 
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              h2.panel-title
                a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                  | Biology-(BIOL) 
            #collapseTwo.panel-collapse.collapse
              .panel-body
              p Enrollment required for LEC,LAB in this group of sections.
              h5 BIOL 102-Introduction To Biology (4Units)      
              br
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b SEC
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b CODE
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b TYPES
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b DAYS
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    b TIME
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b OPEN SEATS
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b LOC
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    b INST
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    b COMMENTS
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      if(user.type == 'student')
                        b Add
                      else
                        b
              br
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 1
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p B01
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p SEM
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p TTH
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p 8-9:15AM
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 5
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p HS 101
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p Clark,B
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p Instructor Consent Req 
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      if(user.type == 'student')
                        button.btn.btn-xs.btn-primary(type='button') Add
                      else
                        b
              br
              .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 2
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p B02
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p LAB
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p TTh
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p 9:30-10:45AM
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p 4
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p AR 101
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                    p Majidz,H
                  .col-xs-2.col-sm-2.col-md-2.col-lg-2
                    p Instructor Consent Req   
                  .col-xs-1.col-sm-1.col-md-1.col-lg-1
                      if(user.type == 'student')
                        button.btn.btn-xs.btn-primary(type='button') Add
                      else
                        b 
    br
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-12
        // should only be viewed by students 
        if(user.type == 'student')
            button.btn.btn-lg.btn-primary.pull-left.disabled(type='button') Add Course 
        else
        b 


// End Jade Template
