@CHARSET "UTF-8";

* {	
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
}

body h1 {
	color: #cd610a;
}

body h2 {
	color: #b75709;
}

body h3 {
	color: #a64f08;
}

body h4 {
	color: #7c3c08;
}

body h5 {
	color: #683308;
}

body h6 {
	color: #492406;
}

.agree-check {
	margin-right:10px;
}

.left-list {
	height: 475px;
}

.right-list {
	height: 475px;
}

.middle {
	text-align: center;
	verticle-align:middle;
	margin: 0px auto;
	padding: 5px;
}
.center {
	text-align: center;
}

@media (max-width: 992px){
	.hide-md {
		display: none;
	}
}

@media (max-width: 768px){
	.hide-sm {
		display: none;
	}
}
.carousel-inner {
	zoom: 1;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.2);
}